*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Additional files
.idea
# iCloud Drive 가 ~/Documents 동기화 중 만드는 충돌 사본.
# 같은 패키지에 같은 클래스를 재선언해 빌드를 깨뜨린다.
* [0-9].*
* [0-9][0-9].*
